@import "./variables";
@import "./mixins";

.card {
  width: $card-width;
  height: 100%;
  padding: 15px 14px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 5px;

  &__photo {
    height: 134px;
    width: 160px;
    padding: 12px 0;
    margin: 0 auto 30px;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: transform 1s;

    & img {
      height: 134px;
      width: 160px;
    }

  }

  &__photo:hover {
    border-color: #f3f3f3;
    cursor: pointer;
    transform: scale(1.2);
  }

  &__name {
    @include font-medium;
  }

  &__code {
    margin-top: 5px;

    &--link {
      text-decoration: none;
      color: #000;
      transition: color ease-out 0.4s;
    }

    &--link:hover {
      color: $main-color;
    }
  }

  &__review {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    margin: 15px 0 20px;

    .review--link {
      text-decoration: none;
      color: #000;
      transition: color ease-out 0.4s;
    }

    .review--link:hover {
      color: $main-color;
    }
  }

  &__price {
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 20px;

    .price__value {
      @include font-big;
    }
  }
}
