@import "./variables";

.catalog {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    grid-column-gap: $card-gapX;
    grid-row-gap: $card-margin-bottom;
    max-width: $card-width * $card-count + ($card-count - 1) * $card-gapX;
    margin: auto;
    list-style-type: none;
  }
}
