@import "./variables";

.stars {
  display: grid;
  grid-template-columns: repeat(5, $star-width);
  grid-column-gap: $star-margin-right;

  &__star {
    width: $star-width;
    height: $star-height;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

%active-star-background {
  background-image: url("../images/star-active.svg");
}

@for $i from 0 through 5 {
  .stars--#{$i} .stars__star:nth-child(-n+#{$i}) {
    @extend %active-star-background;
  }
}
